
/*
BASIC STYLES
 */
html, #root, .App, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Open Sans';
    font-size: 18px;
}

body {
    display: flex;

}

.App {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #c6742d, #f9c98e);
}

button {
    cursor: pointer;
}

/*
LOGIN AND REGISTER PAGE
 */

.register-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #c6742d, #f9c98e);
}

.register-form {
    box-sizing: border-box;
    max-width: 430px;
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    background-image: linear-gradient(to bottom right, #542b29, #b11b17);
    color: #f2dca0;
    border: 8px double black;
    border-radius: 15px;
}

.register-form h1 {
    margin-bottom: 3rem;
}

.register-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45%;
    width: 100%;
    margin-bottom: 3rem;
}

.register-form input {
    width: 70%;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #f2dca0;
    border: 2px solid black;
    padding-left: 0.4rem;
}

.register-button {
    width: 70%;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #dec88f;
    transition: background-color 0.4s ease-out 100ms;
}

.register-button:hover {
    background-color: #9f9163;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20.8%;
    width: 100%;
    margin-bottom: 10.8rem;
}

/*
CHARACTER CREATING PROCESS
 */

.create-hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #c6742d, #f9c98e);
}

.create-hero-content {
    background-image: linear-gradient(to bottom right, #542b29, #b11b17);
    color: #f2dca0;
    border: 8px double black;
    border-radius: 15px;
    max-width: 600px;
    width: 50vw;
    height: 720px;
}

.create-hero-content h3{
    margin-left: 0.5rem;
}

.create-hero-content input {
    width: 70%;
    height: 1.5rem;
    font-size: 1rem;
    background-color: #f2dca0;
    border: 2px solid black;
    padding-left: 0.4rem;
    margin-left: 0.5rem;
}

.class-list, .religion-list {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-inline-start: 0px;
}

.create-hero-content li {
    font-size: 1.2rem;
    width: 15%;
    border: 2px solid #ae9f77;
    padding: 0.2rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease-out 100ms;
    transition: color 0.4s ease-out 100ms;
}

.class-list li:hover, .class-list-li-selected, .religion-list li:hover, .religion-list-li-selected {
    background-color: #f2dca0;
    color: #b11b17;
}

.pfp-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pfp-unselected{
    width: 25%;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
    opacity: 70%;
    transition: opacity 0.4s ease-out 100ms;
}

.pfp-unselected:hover{
    opacity: 100%;

}

.pfp-selected {
    width: 25%;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
    opacity: 100%;
    border: 4px solid #dec88f;
}

.create-hero-button {
    width: 40%;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #dec88f;
    transition: background-color 0.4s ease-out 100ms;
    margin-left: 30%;
    margin-top: 3rem;
}

.create-hero-button:hover {
    background-color: #9f9163;
}


/*
NAVIGATION
 */

.nav-ul {
    list-style-type: none;
    padding-inline-start: 0;
    height: 100vh;
    margin-top: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

.nav-container {
    height: 100%;
    width: 15vw;
    color: #f2dca0;
    margin-right: 14rem;
}

.nav-profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    font-size: 0.84rem;
    background-color: #7c142c;
    border: 4px solid #542b29;
    border-radius: 0px 0px 10px 0px;
    border-left: none;
    border-top: none;
    min-width: 250px;
    cursor: pointer;

    transition: background-color 0.4s ease-out 100ms
}

.nav-profile img {
    border: 1px solid black;
    margin-right: 0.4rem;
    width: 3rem;
    height: 3rem;
}

.nav-profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav-items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    height: 70vh;
    text-transform: uppercase;
    justify-content: space-between;
}

.nav-items li {
    width: 100%;
    padding: 0.5rem 0px 0.5rem 2rem;
    vertical-align: middle;
    border: 4px solid #542b29;
    border-left: none;
    background-color: #7a152d;
    border-radius: 0px 10px 10px 0px;
    min-width: 200px;
    cursor: pointer;

    transition: background-color 0.3s ease-out 100ms;
}


.nav-profile:hover, .nav-items li:hover {
    background-color: #bc2a4d;
}


/*
PROFILE
 */

.profile-info {
    display: grid;
    grid-template: 15% 1fr 1fr / 1fr 1fr;
    width: 25rem;
    height: 30rem;
    padding: 2rem 4rem;
    background-image: linear-gradient(to bottom right, #542b29, #b11b17);
    color: #f2dca0;
    margin-top: 5rem;
    border: 8px double black;
    border-radius: 15px;
}

.profile-info h2 {
    grid-area: 1 / 1 / span 1 / span 1;
}

.profile-info-image {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 10rem;
    height: 13rem;
    margin-right: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #f2dca0;
}

.profile-info-paragraphs {
    grid-area: 2 / 2 / span 1 / span 1;
}


.profile-info-stats {
    grid-area: 3 / 1 / span 1 / span 1;
}


.profile-info-paragraphs p, .profile-info-stats p {
    margin-top: 0;
}

/*
MAP
 */

.map-svg {
    background-image: linear-gradient(to bottom, #71b4be, #7fddc5);
    border: 10px solid #542b29;
}

.map-svg polygon {
    fill: #297715;
    stroke: black;
    transition: fill 0.2s ease-in 100ms;
}

.map-svg polygon:hover {
    fill: #234a0e;

}